#one, #two, #three, #four{
color: black;
cursor: pointer;
}

body{
    background: whitesmoke;
    width: 100%;
}

#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
.heading{
    margin-left:-70px;
}

/* #brown{
    background-image: url(./img/BACKGROUND\ 8.jpg)} */

    .container-fluid-one {
        margin: auto;
        width:300px;
        border: 1px solid white;
        border-radius: 7px;
        padding: 10px;
        color:white;
        font-size:16px;
        animation: myAnimation 2s ease 0s 1 normal forwards;
          }
      
      @keyframes myAnimation {
          0% {
              opacity: 0;
              transform: translateX(-250px);
          }
      
          100% {
              opacity: 1;
              transform: translateX(0);
          }
      }

      #container-fluid-two{
        margin: auto;
        width:600px;
        border: 1px solid white;
        border-radius: 7px;
        padding: 10px;
        color:white;
        font-size:16px;
        animation: myAnime 2s ease 0s 1 normal forwards;
          }
      
      @keyframes myAnime {
          0% {
              opacity: 0;
              transform: translateX(250px);
          }
      
          100% {
              opacity: 1;
              transform: translateX(0);
          }
      }
      