#one, #two, #three, #four{
color: black;
cursor: pointer;
}

#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
#services:hover{
    background-color: rgb(80, 78, 78);
    color: white;
}
.heading{
    margin-left:60px;
}